@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0d0014;
  --foreground: #462469;
}

body {
  color: var(--foreground);
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}

h1, h2 {
  font-family: var(--font-gruppo), sans-serif;
  letter-spacing: 0.02em;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
